/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
  display: flex;
  position: sticky;
  align-items: center;
  margin: -1;
  width: 100%;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* Navigation Bar:Logo and Image */
#logo {
  margin: 10px, 34px;
}

#logo img {
  height: 59px;
  margin: 3px 6px;
}

/* Navigation Bar:List Styling */

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  display: block;
  padding: 3px 22px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  height: 20px;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 200px;
  height: 550px;
}

#home::before {
  content: "";
  background: url("../images/homebg.jpg") no-repeat center center/cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 642px;
  opacity: 0.6;
  top: 0px;
  left: 0px;
}

#home h1 {
  text-align: center;
}

#home p {
  text-align: justify;
  font-size: 0.9rem;
}

/* Services section */
#services {
  margin: 34px;
  display: flex;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background-color: antiquewhite;
  margin-bottom: 20px;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

/* Client-Section */
#client-section {
  position: relative;
}

#client {
  display: flex;
  justify-content: center;
  align-items: center;
}

#client img {
  height: 124px;
  width: 255px;
}

/* Contact-Section */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

#contact input {
  width: 550px;
  padding: 5px;
  margin: 10px 20px;
  text-align: center;
  margin: 0px;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
}

#contact-box input {
  width: 100%;
  padding: 0.5rem;
}

#contact-box formbtn {
  margin: 0px;
}

footer {
  background: orange;
  padding: 2px 10px;
}

/* Utility classes */
.h-primary {
  font-size: 2.8rem;
  padding: 12px;
}

.h-secondary {
  font-size: 2.8rem;
  padding: 12px;
}

.btn {
  padding: 5px 47px;
  margin: 15px;
  font-size: 1rem;
  background-color: red;
  border-radius: 20px;
  border: 2px solid white;
}

.center {
  text-align: center;
}

.btn:hover {
  background-color: green;
  cursor: pointer;
}
